<div class="container-fluid">
  <div class="row">

    <!-- Sidebar -->
    <div class="col-md-3 sidebar">
      <h3>Site Map</h3>
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to 'Reservations', reservations_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'New Reservation', new_reservation_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>

    <!-- Main Content -->
    <div class="col-md-9 p-4">
      <h1>Reservations</h1>
      <%= link_to 'New Reservation', new_reservation_path, class: 'btn btn-primary mb-3' %>

      <% if @reservations.any? %>
        <table class="table table-striped">
          <thead>
            <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
            <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @reservations.each do |reservation| %>
              <tr>
                <td><%= reservation.name %></td>
                <td><%= reservation.phone_number %></td>
                <td><%= reservation.reservation_date.strftime("%B %d, %Y at %I:%M %p") %></td>
                <td>
                  <%= link_to 'Show', reservation_path(reservation), class: 'btn btn-info btn-sm' %> |
                  <%= link_to 'Edit', edit_reservation_path(reservation), class: 'btn btn-warning btn-sm' %> |
                  <%= link_to 'Delete', confirm_delete_reservation_path(reservation), class: 'btn btn-danger btn-sm' %>
                </td>

                
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p class="alert alert-info">No reservations found.</p>
      <% end %>
    </div>

  </div>
</div>
